@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    width: 100%;
    /* overflow-x: hidden; */
    /* overflow: hidden; */

}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* utility classes */

.hidden {
    display: none;
}

.btn{
    /* border: 2px solid yellow; */
    background: #ff324d;
    color: #f9f5f0;
    padding: 12px 20px;
    border-radius: 10px;
}

.read {
    /* border: 2px solid red; */
    padding: 20px 0;
}
.btn-rounded{
    /* border: 2px solid yellow; */
    margin-top: 40px;
    background: #ff324d;
    color: #f9f5f0;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.container-menu{
    margin: auto;
    max-width: 1400px;
    overflow: auto;
    padding: 0 20px;
}

.text-center{
    text-align: center;
}

.bg-dim{
    background: #f9f5f0;
}

.bg-dark{
    color: #fff;
    background: #333;
}

.line{
    border-bottom: 2px solid #ff324d;
    width: 40px;
    text-align: center;
}

.mobile-heading{
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.l-heading{
    font-family: 'Kaushan Script', cursive;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.s-heading {
    font-family:  'Josefin Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.ms-heading{
    font-family:  'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.p-heading {
    font-family:  'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.n-heading{
    font-family:  'Josefin Sans', sans-serif;
    color: #687188;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-weight: 100;
    color: #687188;
    text-align: start;
}


.text-primary{
    color: #ff324d;
}

.py-1 {padding-block: 1.5rem;}
.py-2 {padding-block: 2rem;}
.py-3 {padding-block: 3rem;}
    
.p-1 {padding:min(30vh, 1.5rem);}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.px-1 {padding: 0 20px}


/* navbar */

.flex{
    display: flex;
    gap: var(--gap, 1.5rem);
    /* align-items: center; */
    justify-content: space-between;

}

.logo-img{
    width: 80px;
    height: 50px;
    color: #fff;
    border-radius: 50px;
}

#navbar{
    background: #333;
    position: sticky;
    top: 0;
    color: #fff;
    padding: 1rem;
    align-items: center;
    z-index: 1;
    width: 100%;
}

#navbar ul{
    list-style: none;
}

#navbar ul li {
    position: relative;
}

#navbar ul li a {
    color:#fff;
}


#navbar ul li a:hover{
    border-bottom: 2px solid #ff324d;
    padding-bottom: 0.5rem;
}

#mobile-menu {
    display: none;
}

.hamburger {
    display: none;
}

/*header showcase */

#showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/background2-home.jpg')
    no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
    overflow-x: hidden;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

/* about us */

#about .items{
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.items .img{
    background: #333 url('../img/about_img1.jpg')
    no-repeat center center/cover;

    width: 500px;
    height: 600px;
}

.items .about-content{
    flex: 1;
    width: 50%;
    padding: 1rem;
}
#about h2{
    position: relative;
}

/* our menu */

#menu{
    width: 100vw;
}

#menu .box{
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

hr{
    display: flex;
    justify-content: space-between;
}
/* 
#menu .boxes-1{
    position: relative;
    overflow: hidden;
} */

#menu .boxes{
    flex: 1;
    flex-basis: 40%;
    padding: 1rem;
     margin: 0.5rem;
    /* border: 2px solid red; */
}

#menu .boxes p{
    color: #687188;
}

/* our gallery */

#gallery{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background3-home.jpg')
    no-repeat center center/cover;
    /* overflow: hidden; */
    /* height: 100vh; */
    color: #fff;
}


img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    padding: 0.2rem;
}

.image-grid{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* our team */

#team{
    width: 100%;
    /* height: 100vh; */
}

#team h3 {
    font-family:  'Josefin Sans', sans-serif;
    font-size: 1rem;
    /* margin-bottom: 0.75rem; */
    line-height: 1.1;
}

.team-grid{
    display: flex;
    /* padding: 1rem; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.images img {
    object-fit: cover;
}

.team-card i{
    color:  #ff324d;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.team-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex-basis: 400;
     margin: 0.5rem;
    border-radius: 5px;
    /* border: 2px solid #333; */
}
  
  /* On mouse-over, add a deeper shadow */
  .team-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card-content {
    padding: 1rem;
  }

  /* section: testimonial */

  #testimonial{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background-testimonial.jpg')
    no-repeat center center/cover;
    /* overflow: hidden; */
    /* height: 100vh; */
    color: #fff;
  }

  #testimonial .tests{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    /* flex-wrap: wrap; */
    /* margin: 2rem; */
    /* border: 2px solid red; */
}

.test{
     /* border: 3px solid red; */
     flex: 1;
     /* flex-basis: 300px; */
     /* width: 30%; */
     /* padding: 1rem; */
     margin: 0.5rem;
}

.test-1{
    /* margin-right: 1rem; */
    padding: 2rem;
    text-align: center;
}

.test-2{
    /* margin-right: 1rem; */
    padding: 2rem;
    text-align: center;
}

.tests img{
    width: 200px;
    object-fit: cover;
    padding: 1rem;
    text-align: center;
    border-radius: 50%;
}

h4{
    padding-top: 1rem;
}



/* contact */

#contact{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/background-contact.jpg')
    no-repeat center center/cover;
    /* overflow: hidden; */
    /* height: 100vh; */
    color: #fff;
}

#contact .form-group{
    flex-basis: 45%;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    /* display: block; */
}

#contact .form-action{

        display: flex;
       justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
}

#contact label {
    display: block;
    /* justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid red;
}

#contact input,
#contact textarea{
    background: transparent;
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    outline: none;
    /* border: none; */
    /* border: 1px #ddd solid; */

}

#contact input,
#contact textarea:focus{
    outline: none;
    border-color:  #f9f5f0;
    color: #fff;
}


::placeholder {
    color: #fff;
    font-size: 1rem;
  }

#contact .contact-btn{
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    /* margin-left: 1rem; */
   
}

#contact .contact-btn:hover {
    color: #ff324d;

}


/* footer */


#foot{
    text-align: center;
    background: #444;
    color: #fff;
    padding: 1rem;
}

#foot .footer-icon i{
    color: #444;
    background: #f9f5f0;
    padding: 0.75rem;
    border-radius: 50px;
    margin: 0.3rem;
    text-align: center;

}

#foot .footer-icon i:hover{
    background: #ff324d;
    color: #fff;
}


@media (max-width: 48rem){

    nav .nav-links{
        display: none;
    }

    #showcase  h1{
        font-size: 2rem;
        padding: 0;
        /* border: 2px solid white; */
        margin: 0;
    }

    #menu .box .lain {
        display: none;
    }

    #about .items{
        /* display: flex; */
        /* padding: 1rem; */
        display: flex;
        padding: 1rem;
        justify-content: center;
        flex-wrap: wrap;
        /* padding:min(30vh, 1rem) */
    }
    
    .items .img{
        background: #333 url('../img/about_img1.jpg')
        no-repeat center center/cover;
    
        width: 500px;
        height: 600px;
    }
    
    .items .about-content{
        /* border: 3px solid red; */
        flex: 1;
        flex-basis: 30%;
        padding: 3rem;

    }

    #contact .form-group{
        margin-bottom: 20px;
        /* border: 2px solid red; */
        /* display: block; */
    }
    
    #contact .form-action{
    
            display: block;
          
    }

    #contact h1{
        text-align: center;
    }

    #contact p{
        text-align: center;
    }

}

@media (max-width: 35rem) {

    /* navbar toggle */

    #navbar{
        align-items: center;
        justify-content: space-between;
    }

/* 
    .mobile-nav-toggle[aria-expanded="true"] {
        background: url('../img/9851132801553239378.svg');
    } */

    /* showcase area */

    #showcase  h1{
        font-size: 2rem;
        padding: 0;
        margin: 0;
    }

    #menu .box .lain {
        display: none;
    }

    #menu .box{
        padding:min(30vh, 1.5rem);
    }

    /* section team */

    #team .team-grid{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        /* border: 2px solid red; */

    }

    
.team-card{
    flex: 1;
    flex-basis: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}
  
  /* On mouse-over, add a deeper shadow */

  .team-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */

  .card-content {
    padding: 1rem;
  }

  /* resizing the testimonial section */

  #testimonial .tests{
    display: block;
  }

  #testimonial .test-1{
    margin-bottom: 1rem;
}
}
